@{ 
    Layout = "AdminLayout";
}
@model Doktor 
    <br /><br />
<div class="ibox ">
    <div class="ibox-content text-center p-md">
        <form action="/Admin/DoktorEkle" method="post">
            <div>
                <label><strong>Doktor Adı</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorAdi, new { @class = "form-control" }) <br />

                <label><strong>Doktor Soyadı</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorSoyadi, new { @class = "form-control" }) <br />

                <label><strong>Doktor Resim Url</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorImgUrl, new { @class = "form-control" }) <br />

                <label><strong>Doktor Alanı</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorAlani, new { @class = "form-control" }) <br />

                <label><strong>Doktor Yetki</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorYetki, new { @class = "form-control" }) <br />

                <label><strong>Doktor Twitter Link</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorTwLink, new { @class = "form-control" }) <br />

                <label><strong>Doktor İnstagram Link</strong></label><br />
                @Html.TextBoxFor(x => x.DoktorFcLink, new { @class = "form-control" }) <br />

                <button action="submit" class="btn btn-success" > EKLE</button>
                <a asp-controller="Admin" asp-action="Doktorlar" class="btn btn-warning">Geri DÖN</a>
            </div>
        </form>

    </div>
</div>