@{ 
   
}
@model HastaneMvc.Models.Sınıflar.AnasayfaDoktor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="MACode ID, https://macodeid.com/">

    <title>Emsey HOSPİTAL</title>

    <link rel="stylesheet" href="~/css/maicons.css">

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/css/theme.css">
</head>
<body>

    <!-- Back to top button -->
    <div class="page-hero bg-image overlay-dark" style="background-image: url(/image/Emsey.jpg);">
        <div class="hero-section">
            <div class="container text-center wow zoomIn">
                <span class="subhead">Daha Hızlı iyileşmek için </span>
                <h1 class="display-4">EMSEY HOSPITAL</h1>
                <a href="#" class="btn btn-primary">Biz Kimiz</a>
            </div>
        </div>
    </div>

    @foreach (var item in Model.Anasayfa)
    {
        <div class="page-section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 py-3 wow fadeInUp">
                        <h1>@item.Baslik</h1>
                        <p class="text-grey mb-4">@item.Aciklama</p>
                        <a href="about.html" class="btn btn-primary">Daha Fazlası İçin</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                        <div class="img-place custom-img-1">
                            <img src="~/image/bg-doctor.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .bg-light -->
    }




    <div class="page-section">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp">Doktorlarımız</h1>

            <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">

                @foreach (var item in Model.Doktor)
                {
                    <div class="item">
                        <div class="card-doctor">
                            <div class="header">
                                <img src=@item.DoktorImgUrl alt="">
                                <div class="meta">
                                    <a href=@item.DoktorTwLink><span class="mai-logo-twitter"></span></a>
                                    <a href=@item.DoktorFcLink><span class="mai-logo-facebook"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">@item.DoktorAdi</p>
                                <span class="text-sm text-grey">@item.DoktorAlani</span>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="page-section bg-light">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Son Haberler</h1>
            <div class="row mt-5">

                @foreach (var item in Model.Haberler)
                {
                    <div class="col-lg-4 py-2 wow zoomIn">
                        <div class="card-blog">
                            <div class="header">
                                <div class="post-category">
                                    <a href="#">@item.Etiket</a>
                                </div>
                                <a href="/Haberler/Haberler" class="post-thumb">
                                    <img src=@item.HaberImgUrl  alt="">
                                </a>
                            </div>
                            <div class="body">
                                <h5 class="post-title"><a href="blog-details.html">@item.HaberBaslik</a></h5>
                                <div class="site-info">
                                   
                                    <p class="mai-time">@item.Tarih.ToShortDateString() </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }




                <div class="col-12 text-center mt-4 wow zoomIn">
                    <a href="/Haberler/Haberler" class="btn btn-primary">Tüm Haberler</a>
                </div>

            </div>
        </div>
    </div> <!-- .page-section -->

    @Html.Partial("_RandevuPartial")





</body>
</html>